/**
 * to-do list
 */

body {
  margin:   0;
  padding:  0;
}

.header {
  height:            70px;
  background-color:  #24292F;
  width:             100%;
}

.header .header__content {
  width:      1080px;
  margin:     auto;
}

.header .header__logo {
  color:             white;
  line-height:       70px;
  font-size:         20px;
  font-weight:       bold;
}

.main {
  width:      980px;
  margin:     100px auto;
  padding:    100px;
  box-shadow: 0 0 4px gray;
  position:   relative;
}

.success-message {
  margin:      30px 0;
  text-align:  center;
}


/******* フォームのinfoを非表示に *******/
.info {
  display: none;
}

/***** 追加 *****/
.todoContainer {
  display: flex;
}
.todoContainer .todo {
  padding: 0px 10px;
}

.todoContainer .todo p {
  padding: 0px;
  margin: 0px;
}

.todo .title {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo .body {
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo .status {
  width: 80px;
}

.todo .categoryName {
  width: 130px;
}

.categoryName.red {
  color: red;
}

.categoryName.green {
  color: green;
}

.categoryName.blue {
  color: blue;
}

.categoryName.yellow {
  color: yellow;
}
