@*
*
* to do sample project
*
*@
@import model._
@import lib.model.{ ToDo, ToDoCategory }

@(vv:   model.ViewValueToDoList)
@common.Default(vv){
  <div class="todoContainer">
    <div class="todo">
      <p class="title">タイトル</p>
    </div>
    <div class="todo">
      <p class="body">本文</p>
    </div>
    <div class="todo">
      <p class="status">ステータス</p>
    </div>
    <div class="todo">
      <p class="categoryName">カテゴリ</p>
    </div>
  </div>

  @for(todo <- vv.toDoList) {
    <div class="todoContainer">
      <div class="todo">
        <p class="title">@todo.title</p>
      </div>
      <div class="todo">
        <p class="body">@todo.body</p>
      </div>
      <div class="todo">
        <p class="status">@todo.status.name</p>
      </div>
      <div class="todo">
        <p class="categoryName @todo.categoryColor.name">@todo.categoryName</p>
      </div>
    </div>
  }
  <div class="footer">
    <a class="footer_button-back" href="@controllers.routes.HomeController.index()">
      戻る
    </a>
    <a class="footer_button-add" href="@controllers.todo.routes.ToDoController.register()">
      追加
    </a>
  </div>
}
