/**　ToDoリスト画面 **/
.todoContainer {
  display: flex;
}
.todoContainer .todo {
  padding: 0px 10px;
}

.todoContainer .todo p {
  padding: 0px;
  margin: 0px;
}

.todo .title {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo .body {
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo .status {
  width: 80px;
}

.todo .categoryName {
  width: 130px;
}

.categoryName.red {
  color: red;
}

.categoryName.green {
  color: green;
}

.categoryName.blue {
  color: blue;
}

.categoryName.yellow {
  color: yellow;
}

.footer {
  margin    : 10px;
  padding   : 5px;
  height    : 30px;
}

.footer .footer_button-add {
  float         : right;
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px;         /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : #000000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 1px solid #666666;    /* 枠の指定 */
}
.footer .footer_button-add:hover {
  color         : #ffffff;     /* 背景色     */
  background    : #000000;     /* 文字色     */
}

.footer .footer_button-back {
  float         : left;
  display       : inline-block;
  border-radius : 20%;          /* 角丸       */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 5px;         /* 余白       */
  background    : #ffffff;     /* 背景色     */
  color         : #990000;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 1px solid #666666;    /* 枠の指定 */
}
.footer .footer_button-back:hover {
  color         : #ffffff;     /* 背景色     */
  background    : #990000;     /* 文字色     */
}